<div class="services-content relative z-10">
  <div class="services-wrap">
    <h1 class="ttl mb-10">Послуги</h1>
    <img class="mt-4 ml-2" src="/src/assets/img/yS3U7dySdrVC5UpNrvhE9P7rcC7g0XLaKZDjGMzb.png.webp" width="100%">
  </div>
  <div class="services-wrap ">
    <p class="mt-8">Ми підберемо оптимальне рішення для вашого бізнесу
    </p>
    <div class="h-2/3">
      <div class="services-btns arrow-hover">
        <span>
          IT рішення
        </span>
        <div class="arrow-wrap">
          <arrow-transform></arrow-transform>
        </div>
      </div>
      <div class="services-btns arrow-hover">
        <span>
          Системи та сервіси
        </span>
        <div class="arrow-wrap">
          <arrow-transform></arrow-transform>
        </div>
      </div>
      <div class="services-btns arrow-hover">
        <span>
          WEB розробка
        </span>
        <div class="arrow-wrap">
          <arrow-transform></arrow-transform>
        </div>
      </div>
      <div class="services-btns arrow-hover">
        <span>
          Мобільні додатки
        </span>
        <div class="arrow-wrap">
          <arrow-transform></arrow-transform>
        </div>
      </div>
      <div class="services-btns arrow-hover">
        <span>
          Просування сайтів
        </span>
        <div class="arrow-wrap">
          <arrow-transform></arrow-transform>
        </div>
      </div>
    </div>
  </div>
  <div class="services-wrap last-service-column items-end">
    <button class="btn-all-serv arrow-hover mt-8">
      <span class="whitespace-nowrap">
        Усі Послуги
      </span>
      <div class="arrows arrow-wrap">
        <arrow-transform [width]="'12px'"></arrow-transform>
      </div>
    </button>
    <div class="h-2/3 w-full">
      <div class="services-btns arrow-hover w-full pl-4">
        <span>
          Індустрії
        </span>
        <arrow-transform></arrow-transform>
      </div>
      <div class="flex w-full flex-wrap justify-between mt-2">
        <div class="flex industrys flex-col flex-wrap items-between h-full justify-between">
          <p class="mt-2">01/
            Logistics
          </p>
          <p class="mt-2">02/
            Real Estate
          </p>
          <p class="mt-2"> 03/
            eCommerce
          </p>
          <p class="mt-2"> 04/
            E-Grocery
          </p>
          <p class="mt-2"> 05/
            Retail
          </p>
          <p class="mt-2"> 06/
            FMCG
          </p>
          <p class="mt-2"> 07/
            Manufacturing</p>
        </div>
        <div class="flex flex-col flex-wrap justify-between">
          <p class="mt-2">
            08/ InsurTech
          </p>
          <p class="mt-2">09/
            FinTech
          </p>
          <p class="mt-2"> 10/
            Healthcare
          </p>
          <p class="mt-2"> 11/
            Supply chain
          </p>
          <p class="mt-2">
            12/
            HoReCa
          </p>
          <p class="mt-2">13/
            Energy</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services-content">
  <div class="w-1/3"><span class="ol-circle"> <span>СТЕК ТЕХНОЛОГІЙ</span></span></div>
  <div class="w-2/3 flex justify-between">
    <p>mySQLmySQL </p>
    <p>Laravel </p>
    <p>Kotlin</p>
    <p>Swift</p>
    <p>AWS</p>
    <p>Node.js </p>
    <p>GraphQL</p>
    <p>Objective</p>
    <p>Усі</p>
  </div>
</div>
<div class="services-content">
  <div class="w-3/12 pt-12 pr-12 border-t border-r border-slate-400	border-solid">
    <div class="w-full bg-black h-24 rounded-md flex ">

      <div class="flex flex-col w-1/2 justify-between py-6 pr-2 h-full pl-8">

        <p class="text-xs">REVIEWED ON</p>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.861 25">
          <path fill="#FFF"
            d="M22.861 0h4v25h-4zm18 17.025c0 3.826-3.217 4.131-4.174 4.131-2.391 0-2.826-2.238-2.826-3.588V8h-4v9.548c0 2.37.744 4.326 2.048 5.63 1.152 1.153 2.878 1.783 4.748 1.783 1.326 0 3.204-.413 4.204-1.326V25h4V8h-4v9.025zM52.861 2h-4v6h-3v4h3v13h4V12h3V8h-3zm15.597 17.917c-.871.783-2.021 1.217-3.283 1.217-2.782 0-4.825-2.043-4.825-4.848s1.978-4.762 4.825-4.762c1.24 0 2.412.413 3.305 1.196l.607.522 2.697-2.696-.675-.609C69.522 8.504 67.415 7.7 65.174 7.7c-5 0-8.631 3.608-8.631 8.565 0 4.936 3.718 8.673 8.631 8.673 2.283 0 4.412-.804 5.979-2.26l.652-.609-2.739-2.694-.608.542zM86.061 9.482C84.909 8.33 83.559 7.7 81.689 7.7c-1.326 0-2.828.413-3.828 1.325V0h-4v25h4v-9.365c0-3.826 2.718-4.13 3.675-4.13 2.391 0 2.325 2.239 2.325 3.587V25h4v-9.887c0-2.37-.495-4.326-1.8-5.631" />
          <path fill="#FF3D2E" d="M65.043 13.438a2.891 2.891 0 1 1 0 5.784 2.891 2.891 0 0 1 0-5.784" />
          <path fill="#FFF"
            d="M17.261 18.721c-1.521 1.565-3.587 2.413-5.761 2.413-4.456 0-7.696-3.5-7.696-8.304 0-4.826 3.24-8.326 7.696-8.326 2.153 0 4.196.847 5.74 2.391l.608.609 2.674-2.674-.587-.609C17.718 1.938 14.718.7 11.5.7 4.935.7 0 5.917 0 12.851 0 19.764 4.957 24.96 11.5 24.96c3.24 0 6.24-1.26 8.457-3.543l.587-.609-2.652-2.717-.631.63z" />
        </svg>
      </div>
      <div class="flex flex-col justify-between pl-2 py-6 pr-8 h-full w-1/2">

        <div class="stars flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><g data-name="Layer 2"><path class="cls-1" d="m5.94 9.38-3.11 1.88a.5.5 0 0 1-.75-.54l.83-3.53L.17 4.81a.5.5 0 0 1 .29-.87l3.6-.31L5.48.3a.5.5 0 0 1 .92 0l1.41 3.33 3.61.31a.49.49 0 0 1 .28.87L9 7.19l.82 3.53a.5.5 0 0 1-.74.54Z" data-name="Layer 1"/></g></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><g data-name="Layer 2"><path class="cls-1" d="m5.94 9.38-3.11 1.88a.5.5 0 0 1-.75-.54l.83-3.53L.17 4.81a.5.5 0 0 1 .29-.87l3.6-.31L5.48.3a.5.5 0 0 1 .92 0l1.41 3.33 3.61.31a.49.49 0 0 1 .28.87L9 7.19l.82 3.53a.5.5 0 0 1-.74.54Z" data-name="Layer 1"/></g></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><g data-name="Layer 2"><path class="cls-1" d="m5.94 9.38-3.11 1.88a.5.5 0 0 1-.75-.54l.83-3.53L.17 4.81a.5.5 0 0 1 .29-.87l3.6-.31L5.48.3a.5.5 0 0 1 .92 0l1.41 3.33 3.61.31a.49.49 0 0 1 .28.87L9 7.19l.82 3.53a.5.5 0 0 1-.74.54Z" data-name="Layer 1"/></g></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><g data-name="Layer 2"><path class="cls-1" d="m5.94 9.38-3.11 1.88a.5.5 0 0 1-.75-.54l.83-3.53L.17 4.81a.5.5 0 0 1 .29-.87l3.6-.31L5.48.3a.5.5 0 0 1 .92 0l1.41 3.33 3.61.31a.49.49 0 0 1 .28.87L9 7.19l.82 3.53a.5.5 0 0 1-.74.54Z" data-name="Layer 1"/></g></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><g data-name="Layer 2"><path class="cls-1" d="m5.94 9.38-3.11 1.88a.5.5 0 0 1-.75-.54l.83-3.53L.17 4.81a.5.5 0 0 1 .29-.87l3.6-.31L5.48.3a.5.5 0 0 1 .92 0l1.41 3.33 3.61.31a.49.49 0 0 1 .28.87L9 7.19l.82 3.53a.5.5 0 0 1-.74.54Z" data-name="Layer 1"/></g></svg>
        </div>
        <p class="mt-3">
          22
          reviews
      </p>
      </div>
    </div>
    <div class="w-full mt-6 h-1 border-b border-slate-400 border-solid"></div>
    <div class="w-full flex relative pt-4">
      <div class="w-2/3 pr-2">
        <p>Ми отримали понад 30 найвідоміших і найпрестижніших нагород цифрової індустрії</p>
        <p class="mt-6 text-5xl">30+</p>
      </div>
      <div class="w-1/3 relative">
        <div class="bg-black absolute rounded-full right-0 top-1 h-14 w-14">


        </div>
      </div>
    </div>
    <div class="w-full mt-6 h-1 flex justify-center mt-4 items-center border-b border-slate-400 border-solid">
    </div>
    <div class="flex justify-center h-56">
      <div class="stic-btn w-full h-10 mt-4 font-bold">
        <app-btn-hovered [message]="'ПРО КОМПАНІЮ'" [isArrow]="true" [color]="'blue'"></app-btn-hovered>
      </div>
    </div>
  </div>
  <div class="w-4/5 pt-20 pl-28 right-content border-t border-slate-400	border-solid">
   <div class="float-span">
     <span class="ol-circle mt-2"><span>наш підхід</span></span>
   </div>
    <span class="w-4/5 text-3xl	">Ми пройдемо з вами увесь шлях
      розробки – від першої консультації, до релізу проєкту. А також, організуємо подальшу підтримку.
    </span>
    <div class="flex justify-between bg-img">
      <div class="w-1/4 flex justify-between flex-col">
        <p class="num">9</p>
        <p>кроків зі створення ефективних IT рішень для розвитку вашого бізнесу</p>
      </div>
      <div class="relative flex flex-col justify-end">
        <div class="contect-us-btn arrow-hover">
          <div class="content-wrap-btn arrow-hover-effect">
            <arrow-transform></arrow-transform>
            <p>Процес Роботи</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
