
    <div class="new-case text-white services-content mb-4 z-10 relative content-wrap flex-col ">
      <h1 class="text-white ttl mb-10">Нові Кейси</h1>
      <div class="border-t mt-4 border-arround border-solid flex justify-between port-case">

        <div class="w-3/12 pt-8 pr-16 border-r case items-center flex flex-col border-arround border-solid">
          <p>Протягом 22 років ми набули крутого досвіду й краще за інших знаємо, на чому фокусуватися, як не допустити
            фатальних помилок та як визначити маршрут та інструменти для руху вперед.</p>
          <div class="stic-btn w-full h-10 mt-12 font-bold">
            <app-btn-hovered [message]="'УСІ КЕЙСИ'" [isArrow]="true" [color]="'blue'"></app-btn-hovered>
          </div>

        </div>
        <div class="w-5/12 p-2 border-r pt-10 px-8 border-arround border-solid case-flx">
          <div class="w-full dark-info-block bg-black h-24 rounded-3xl flex justify-between py-4 items-center px-24">

            <p class="w-1/2">450+</p>
            <p class="w-1/2 pl-6">реалізованих проєктів у IT</p>
          </div>
          <div class="w-full my-6 h-1 border-b border-arround border-solid"></div>
          <div class="mt-4 d-block arrow-hover w-full flex-col hover-img">
            <div class="hover-img-container">
              <img
                src="https://wezom.com.ua/storage/cases/medium/fxKYqy8LABrVFoHpSIc8PJF8O8IfRmmlI2pV62YB.jpeg.webp?v=1666625160">
            </div>
            <div class="flex-row flex mt-4">
              <p class="crd-logo">REAL ESTATE</p>
              <div class="ml-2 mr-2">
                <p class="crd-ttl">РІЄЛ</p>
                <span class="crd-desc">
                  Розробили комплекс рішень, які підвищили продажі у три рази
                </span>
              </div>
              <arrow-transform class="mt-2" [width]="'24px'"></arrow-transform>
            </div>
          </div>
          <div class="w-full my-8 h-1 border-b border-arround border-solid"></div>
          <div class="mt-4 d-block arrow-hover w-full flex-col hover-img">
            <div class="hover-img-container">
              <img
                src="https://wezom.com.ua/storage/cases/medium/fxKYqy8LABrVFoHpSIc8PJF8O8IfRmmlI2pV62YB.jpeg.webp?v=1666625160">
            </div>
            <div class="flex-row flex mt-4">
              <p class="crd-logo">REAL ESTATE</p>
              <div class="ml-2 mr-2">
                <p class="crd-ttl">РІЄЛ</p>
                <span class="crd-desc">
                  Розробили комплекс рішень, які підвищили продажі у три рази
                </span>
              </div>
              <arrow-transform class="mt-2" [width]="'24px'"></arrow-transform>
            </div>
          </div>
          <div class="w-full my-8 h-1 border-b border-arround border-solid"></div>
          <div class="mt-4 d-block arrow-hover w-full flex-col hover-img">
            <div class="hover-img-container">
              <img
                src="https://wezom.com.ua/storage/cases/medium/fxKYqy8LABrVFoHpSIc8PJF8O8IfRmmlI2pV62YB.jpeg.webp?v=1666625160">
            </div>
            <div class="flex-row flex mt-4">
              <p class="crd-logo">REAL ESTATE</p>
              <div class="ml-2 mr-2">
                <p class="crd-ttl">РІЄЛ</p>
                <span class="crd-desc">
                  Розробили комплекс рішень, які підвищили продажі у три рази
                </span>
              </div>
              <arrow-transform class="mt-2" [width]="'24px'"></arrow-transform>
            </div>
          </div>
          <div class="w-full my-8 h-1 border-b border-arround border-solid"></div>
        </div>
        <div class="crd-wrp p-2 pt-10 pl-8 case-flx border-arround">
          <div class="mt-4 d-block arrow-hover w-full flex-col hover-img">
            <div class="hover-img-container">
              <img
                src="https://wezom.com.ua/storage/cases/medium/fxKYqy8LABrVFoHpSIc8PJF8O8IfRmmlI2pV62YB.jpeg.webp?v=1666625160">
            </div>
            <div class="flex-row flex mt-4">
              <p class="crd-logo">REAL ESTATE</p>
              <div class="ml-2 mr-2">
                <p class="crd-ttl">РІЄЛ</p>
                <span class="crd-desc">
                  Розробили комплекс рішень, які підвищили продажі у три рази
                </span>
              </div>
              <arrow-transform class="mt-2" [width]="'24px'"></arrow-transform>
            </div>
          </div>
          <div class="w-full my-8 h-1 border-b border-arround border-solid"></div>
          <div class="mt-4 d-block arrow-hover w-full flex-col hover-img">
            <div class="hover-img-container">
              <img
                src="https://wezom.com.ua/storage/cases/medium/fxKYqy8LABrVFoHpSIc8PJF8O8IfRmmlI2pV62YB.jpeg.webp?v=1666625160">
            </div>
            <div class="flex-row flex mt-4">
              <p class="crd-logo">REAL ESTATE</p>
              <div class="ml-2 mr-2">
                <p class="crd-ttl">РІЄЛ</p>
                <span class="crd-desc">
                  Розробили комплекс рішень, які підвищили продажі у три рази
                </span>
              </div>
              <arrow-transform class="mt-2" [width]="'24px'"></arrow-transform>
            </div>
          </div>
          <div class="w-full my-8 h-1 border-b border-arround border-solid"></div>
          <div class="mt-4 d-block arrow-hover w-full flex-col hover-img">
            <div class="hover-img-container">
              <img
                src="https://wezom.com.ua/storage/cases/medium/fxKYqy8LABrVFoHpSIc8PJF8O8IfRmmlI2pV62YB.jpeg.webp?v=1666625160">
            </div>
            <div class="flex-row flex mt-4">
              <p class="crd-logo">REAL ESTATE</p>
              <div class="ml-2 mr-2">
                <p class="crd-ttl">РІЄЛ</p>
                <span class="crd-desc">
                  Розробили комплекс рішень, які підвищили продажі у три рази
                </span>
              </div>
              <arrow-transform class="mt-2" [width]="'24px'"></arrow-transform>
            </div>
          </div>
          <div class="w-full my-8 h-1 border-b border-arround border-solid"></div>
        </div>
      </div>
    </div>
