<div class="contacts-content">
  <div class="contacts-form bg-black z-10 relative ssm-flex-col ssm-align-center text-white flex">
    <div class="flex w-3/12 flex-col smd-dnone pl-16 pr-4 py-16 cont-flex justify-between">
      <p class="ol-circle"> <span>ОТРИМАЙТЕ ДЕТАЛЬНУ ТА ЗРОЗУМІЛУ КОМЕРЦІЙНУ ПРОПОЗИЦІЮ</span></p>
      <img src="https://wezom.com.ua/images/transform-business/bg.webp" width="40%">
    </div>
    <div class="w-6/12 relative flex flex-col smd-w-70 justify-between cont-flex pr-24 pl-4 py-16">
      <h1 class="sub-ttl">Трансформуємо
        ваш бізнес!</h1>
      <div class="w-full flex my-2">
        <div class="w-1/2 pr-1">

          <mat-form-field class="example-full-width w-full">
            <mat-label>Як вас звати? *</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="w-1/2 pl-1">
          <mat-form-field class="example-full-width w-full">
            <mat-label>Ваш Е-mail *</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="w-full flex my-2">
        <div class="w-1/2 pr-1">

          <mat-form-field class="example-full-width w-full">
            <mat-label>Номер телефону *</mat-label>
            <input matInput>
          </mat-form-field>

        </div>

        <div class="w-1/2 pl-1">

          <mat-form-field class="example-full-width w-full">
            <mat-label>Компанія</mat-label>
            <input matInput>
          </mat-form-field>


        </div>
      </div>
      <div class="w-full my-2">
        <mat-form-field class="example-full-width w-full">
          <mat-label>Розкажіть про проект</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>


        <div class="file-upload flex">
          <label class="flex">
            <div class="svg-hld">
              <svg fill="#fff" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium svg-file" focusable="false" aria-hidden="true" viewBox="0 0 18.5 21"><path d="M5.5,21c-1.5,0-2.9-0.6-3.9-1.6c-1-1-1.6-2.4-1.6-3.9s0.6-2.9,1.6-3.9L12,1c0.8-0.7,1.7-1,2.7-1c1,0,1.9,0.4,2.6,1.1c0.7,0.7,1.1,1.6,1.1,2.6c0,1-0.3,1.9-1,2.7L7.1,17c-0.4,0.4-1,0.6-1.5,0.6C5,17.6,4.4,17.4,4,17c-0.4-0.4-0.6-0.9-0.6-1.5c0-0.6,0.2-1.1,0.6-1.5l8.7-8.9c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7l-8.7,8.9c-0.2,0.2-0.3,0.5-0.3,0.8c0,0.3,0.1,0.6,0.3,0.8c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3L16.8,5.8c0.5-0.5,0.7-1.2,0.7-2c0-0.7-0.3-1.4-0.8-1.9C16.1,1.3,15.4,1,14.7,1c-0.8,0-1.4,0.2-2,0.7L2.3,12.3c-0.9,0.9-1.3,2-1.3,3.2s0.5,2.3,1.3,3.2s2,1.3,3.2,1.3c1.2,0,2.3-0.5,3.2-1.3l8.6-8.6c0.2-0.2,0.5-0.2,0.7,0c0.2,0.2,0.2,0.5,0,0.7l-8.6,8.6C8.4,20.4,7,21,5.5,21z"></path></svg>
            </div>
            <input type="file" name="userfile[]" multiple id="userfile" class="w100" accept="image/*" >
            <span class="txt-file">Прикріпити файл</span>
          </label>
        </div>
      </div>
      <div class="flex ssm-flex-col">
        <p class="mt-2 agree w-full ssm-margin-b-2">Натискаючи кнопку “Надіслати”, ви даєте згоду на обробку особистих даних. <span>Детальніше</span>
        </p>
        <div class="w-4/5 ssm-w-full ml-8 ssm-marg-0 flex justify-end">
          <div class="w-full font-bold">
            <app-btn-hovered [message]="'Обговорити проект'" [fontSize]="'1rem'" [color]="'blue'"></app-btn-hovered>
          </div>
        </div>
      </div>
    </div>
    <div class="w-3/12 border-l ssm-pad-t-0 border-solid border-arround ssm-border-left smd-w-70 smd-w-30 flex flex-col cont-flex justify-between relative py-16 px-16 ">
      <div class="w-full ssm-margin-b-1">
      <div class="select mb-4 w-full">
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <svg matPrefix fill="#80848D" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium x-vubbuv" focusable="false"
            aria-hidden="true" viewBox="0 0 25.5 25.5">
            <path
              d="M12.8,0C5.7,0,0,5.7,0,12.8s5.7,12.8,12.8,12.8s12.8-5.7,12.8-12.8S19.8,0,12.8,0z M24,12h-5.5c-0.1-4.4-1.2-8.1-2.9-10.1C20.2,3.1,23.6,7.1,24,12z M12.8,23.7c-1.9,0-4.1-4.1-4.2-10.2H17C16.8,19.5,14.7,23.7,12.8,23.7zM8.5,12c0.2-6,2.3-10.2,4.2-10.2C14.7,1.8,16.8,6,17,12H8.5z M9.9,1.9C8.3,3.9,7.1,7.6,7,12H1.5C1.9,7.1,5.3,3.1,9.9,1.9zM1.5,13.5H7c0.1,4.4,1.2,8.1,2.9,10.1C5.3,22.4,1.9,18.4,1.5,13.5z M15.6,23.6c1.7-2,2.8-5.7,2.9-10.1H24C23.6,18.4,20.2,22.4,15.6,23.6z">
            </path>
          </svg>

          <mat-select>
            <mat-option *ngFor="let city of cities" [value]="city">
              {{city}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

        <p>м. Київ, вул. Драгомирова, 2а, оф. 440 (секція 2, поверх 23)</p>
        <p>0 800 751 017</p>
        <p>Безкоштовно по Україні</p>
        <p>@Написати</p>
        <p>Пишіть, домовимось!</p>
      </div>
      <div class="w-full flex justify-end font-bold">
        <app-btn-hovered [message]="'Презинтація Компінії'" class="w-full" [isDark]="true" [fontSize]="'1rem'" [isArrow]="true"
          [color]="'darkWhite'"></app-btn-hovered>
      </div>

    </div>
  </div>
</div>
