<main class="lending-content">
  <app-header></app-header>
  <div class="hd-content">
    <h1>IT & DIGITAL</h1>
    <div>
      <h1>РІШЕННЯ</h1>
      <p>
        РОЗРОБЛЯЄМО IT-ЕКОСИСТЕМИ ТА ДОПОМАГАЄМО ТРАНСФОРМУВАТИ B2B, B2C, D2C БІЗНЕС
      </p>
    </div>
    <h1>З ГАРАНТІЄЮ!</h1>
  </div>
  <div class="md-content">
    <video-container></video-container>
    <services-content></services-content>
    <portfolio-case></portfolio-case>
    <div class="swipper-content z-10 mt-24 bg-white w-full">
      <div class="flex">
      </div>
      <div class="mt-10 mx-10">
        <h1 class="sub-ttl ml-4 mb-10">Що шукають клієнти</h1>
        <div class="flex review-container justify-between ">
          <div class="w-full p-4 ov-blocks">
            <div class="w-full client-review overflow-hidden rounded-md">
              <div class="h-48">
                <img class="vid-poster" src="https://img.youtube.com/vi/MXJmFrM0Z28/0.jpg" height="100%" alt="">
              </div>
              <div class="border-t px-4 py-2">
                <h3>Тимур Тиможко</h3>
                <p class="whitespace-nowrap	">Директор по маркетингу СК "Країна"</p>
              </div>
            </div>
          </div>
          <div class="w-full p-4 ov-blocks">
            <div class="w-full client-review rounded-md">
              <div class="h-48 p-4">
                <p class="desc">Найголовніший для нас показник успіху проекту це те, що протягом 8 місяців e-commerce
                  майданчик
                  створений WEZOM щодня приносить нам замовлення. Ми дуже задоволені нашим партнерством і як команда
                  справлялася з поставленими завданнями. Усі цілі проекту було досягнуто в обумовлені терміни.
                </p>
                <p color="text-blue-700">Читати повністю</p>
              </div>
              <div class="border-t px-4 py-2">
                <h3>Тетяна Лисиця</h3>
                <p class="whitespace-nowrap	">Маркетолог, Zalem</p>
              </div>
            </div>
          </div>
          <div class="w-full p-4 ov-blocks">
            <div class="w-full client-review rounded-md	">
              <div class="h-48 p-4">
                <p class="desc">
                  Завдяки WEZOM наші продажі зросли на 65%, а конверсії збільшилися на 150%. Команда повністю розробила
                  нам онлайн магазин із 1С та amoCRM інтеграціями. Діти провели аналіз ринку, зробили майнд мап з усіма
                  функціями майбутнього майданчика та аргументували кожен елемент розробки. Все було прозоро та якісно.
                </p>
                <p color="text-blue-700">Читати повністю</p>
              </div>
              <div class="border-t px-4 py-2">
                <h3>Денис Майловський</h3>
                <p class="whitespace-nowrap	">Співзасловник, Suzie</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <contact-us></contact-us>
    <app-blogs></app-blogs>
  </div>
  <div class="ft-content">
    <contacts-form></contacts-form>
    <app-footer></app-footer>
  </div>
</main>
<ng-template #linkSvg></ng-template>