<div class="content-wrap z-10 relative mt-10">

  <div class="flex justify-between smd-mb-2">
    <h1 class="sub-ttl text-white mb-4">Корисне з блогу</h1>
    <div class="arrow-hover text-white">
      Читати Все
      <div class="rounded-full arrows border border-arround border-solid	p-2 ml-4">
        <arrow-transform [width]="'12px'"></arrow-transform>
      </div>
    </div>
  </div>

  <div class="flex smd-flex-col smd-align-center">
    <div class="pr-2 w-1/3 hover-img smd-w-70 smd-mb-2">
      <div class="hover-img-container">
        <img class="rounded-lg max-h-60 object-cover" width="100%"
          src="https://wezom.com.ua/storage/blog/index_big/zHiJo9PhihPtbVlui04FBB4jE33vDS7ajFvANWbA.png.webp?v=1671812771">
      </div>
      <div class="text-white mt-4">
        <div class="flex">
          <p class="gr-color type-paragraph">SEO</p>
          <p class="mt-1 ml-2">11.12.2022</p>
        </div>
        <p>Від чого залежить ранжування в буржнеті: 12 факторів, які впливають на позиції сайтів</p>
      </div>
    </div>
    <div class="px-2 w-1/3 hover-img smd-w-70 smd-mb-2">
      <div class="hover-img-container">

        <img class="rounded-lg max-h-60 object-cover"
          src="https://wezom.com.ua/storage/blog/index_big/aULlEv2BE9tvJR4vNlMbBQZ5x0lpnTprM3YwrdLK.jpg.webp?v=1671030047"
          width="100%">
      </div>

      <div class="text-white mt-4">
        <div class="flex">
          <p class="bl-color type-paragraph">Інтернет маркетинг</p>
          <p class="mt-1 ml-2">11.12.2022</p>
        </div>
        <p>Що таке EAT-фактори Google</p>
      </div>
    </div>
    <div class="pl-2 w-1/3 hover-img smd-w-70 smd-mb-2">

      <div class="hover-img-container">
        <img class="rounded-lg max-h-60	object-cover"
          src="https://wezom.com.ua/storage/blog/index_big/MUUyClFbjNrV7qPtbphNtUvD29MQ2C05qW46h2tr.jpg.webp?v=1671436725"
          width="100%">

      </div>
      <div class="text-white mt-4">
        <div class="flex">
          <p class="rd-color type-paragraph">стартапи і бізнес</p>
          <p class="mt-1 ml-2">11.12.2022</p>
        </div>
        <p>Чи може логістична компанія заощадити 500К доларів за допомогою софту? Шукаємо відповідь</p>
      </div>
    </div>
  </div>
  <div class="mt-20 h-32 text-white txt-overflow overflow-auto">
    <h2 class="mb-4">Ми диджиталізуємо бізнеси, створюємо екосистеми </h2>
    <p>Нові технології – це не самоціль, й не прогрес заради прогресу. Вони мають робити наше життя кращим, дарувати нові можливості, розкривати творчий потенціал людини. Місія IT компанії WEZOM – трансформувати бізнес за допомогою технологій, надавати йому інструменти для сталого зростання.</p>
    <p>Економіка майбутнього буде насамперед цифровою, а отже, інвестування у діджитал бізнес вже ніяк не уникнути. Питання лише в тому, як отримати з цих інвестицій максимальну віддачу. Наша продуктова ІТ компанія створює цифрові рішення для бізнесу вже понад 20 років. Ми твердо знаємо, як робити IT-продукти для вирішення прикладних завдань, уникаючи типових помилок, неочевидних проблем та “зливу” бюджетів.</p>
    <p>Послуги IT компанії WEZOM спрямовані на тих, хто розуміє колосальну важливість та потенціал діджиталу. E-commerce, логістика, девелопмент, ритейл - практично будь-який складний бізнес приречений на стагнацію та занепад без постійного розвитку в "цифрі".</p>
    <p>Ми пропонуємо створення комплексних IT рішень для бізнесу: можемо створити корпоративний сайт, а можемо спроектувати
      масштабну діджитал-екосистему, яка радикально змінить роботу компанії. Але WEZOM – не просто продуктова IT компанія,
      адже ми не хочемо продати вам якусь розробку й забути про це. Натомість ми працюємо на якість та гарантуємо
      результат. Наша кінцева мета – зробити ваш бізнес кращим.
    </p>
    <p>На сьогодні ІТ компанія WEZOM зібрала у своєму портфоліо десятки успішних кейсів диджиталізації: створення сайтів, мобільних застосунків, профільного кастомного софту та масштабних цифрових платформ для корпоративних завдань. Наша розробка IT рішень завжди випливає насамперед з потреб клієнта та спирається на передові технологічні тренди. </p>
  </div>
</div>
